.avatar {
    height: 2.5rem;
    width: 2.5rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    background-color: rgb(83, 180, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
}
