@import url("./pieces.css");

.chess__board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 40rem;
  width: 40rem;
  margin: 0 auto;
}

.chess__block {
  background-color: white;
  border: 1px solid black;
  aspect-ratio: 1;
  cursor: pointer;
}

.chess__block .pi {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.chess__block[color="black"] {
  background-color: rgb(83, 125, 117);
}


.chess__block:active {
  cursor: grabbing;
}

.chess__block.active {
  background-color: rgb(219, 217, 217);
}

.chess__block.movable {
  background-color: rgb(54, 50, 126);
}